body{
    font-family: 'Roboto Slab', serif !important;
    background-color: #ebeff2 !important;
    height: 100vh;
}

.clear-center span{
    margin: 20px auto 0 auto;
    color: #DD551F;
    font-size: 28px;
    font-weight: 700;
}

.desc span{
    color: #FBB13C;
    font-size: 23px;
    font-style: italic;
    margin-top: 10px  ;
}

.tickets-status{
    display: none;
    flex-wrap: wrap;
    /*border:1px solid #FBB13C;*/
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
    margin: 45px auto 0 auto;
    text-align: center;
    background-color: #fff;

}

.row{
    display: flex;
    flex-wrap: wrap;
}

.chart-container{
    width: 80%;
    /*border: 1px solid #FBB13C;*/
    border-radius:4px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px auto 0 auto ;
    background-color: #fff;
}

.tickets-status span:first-child{
    color: #2176AE;
    font-size: 18px;
    font-weight: 600;
}

.tickets-status span:nth-child(2) {
    color: #DD551F;
    font-size: 18px;
    padding-left: 10px;
}

.event{
    width: 80%;
    /*border: 1px solid #FBB13C;*/
    /*border-radius: 4px;*/
    margin: -20px auto 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.event-container{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border: 1px solid #FBB13C;*/
    border-radius: 4px;
    background-color: #fff;
}

.clear-padding-right{
    padding-right: 0;
}

.clear-padding-left{
    padding-left: 0;
}
.event-header{
    padding: 10px 5px 5px 10px;
    font-size: 12px;
    color: #6c757d;
}

#recent-ticket{
    padding: 0 !important;
}

#recent-hold{
    padding:  0 !important;
}

.recent-hold{
    list-style: none;
}

.event ul li{
    list-style: none;
    padding-left: 10px;
}

.ticket-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.urgent-priority{
    width: 50px;
    height: 20px;
    font-size: 9px;
    padding: 3px;
    text-align: center;
    background-color: #DD551F;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    /*margin-right: 50px;*/
}


.high-priority{
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    padding: 3px;
    background-color: #FBB13C;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    /*margin-right: 50px;*/


}

.medium-priority{
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    padding: 3px;
    background-color: #2176AE;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    /*margin-right: 50px;*/

}

.low-priority{
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    padding: 3px;
    background-color: #57B8FF;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    /*margin-right: 50px;*/
}

.ticket-header{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/
    padding-right: 20px;
    font-size: 14px;
    margin-left: 50px;
}

.network{
    width: 80%;
    /*border: 1px solid #FBB13C;*/
    border-radius: 4px;
    margin: -20px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

.meter{
    width: 80%;
    /*border: 1px solid #FBB13C;*/
    border-radius: 4px;
    margin: 30px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}

.meter-container{
 margin: 0 auto;
}


.row-meter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.clear-center{
    display:flex;
    justify-content: center;
}

.footer{
    width: 100%;
    height: 100px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
}

.footer-menu li{
    list-style: none;
    margin-right: 10px;
}

.footer-menu li:first-child{
}

.footer-menu li:last-child{
}

.footer-menu li a{
    color: #fa953c;
}

.footer-menu li a:hover{
    color: #DD551F;
}

.custom-loader{
    display: flex;
    justify-content: center;

}

#main-container{
    z-index: 2;
    position: relative;
    background-color: #ebeff2;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}